@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --primary: #D12027;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-custom);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-custom), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}